html {
    box-sizing: border-box;
    font-size: 62.5%; /* RESET PARA REMS */
}
*,*:before, *:after{
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    width: 70%;
    max-width: 120rem; /* 120rem == 1200px */
    margin: 0 auto;
}
/* Las imagenes serán responsive */
img{
    max-width: 100%;
}

/** Tamaños predefinidos **/
h1{
    font-size: 3.3rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 2.4rem;
}

/** Utilidades **/
.seccion{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.fw-300{
    font-weight: 300;
}

.centrar-texto{
    text-align: center;
}

.dis-block{
    display: block!important;
}

.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}

/* Botones */
.boton{
    color: #FFFFFF;
    font-weight: 700;
    /* Eliminar Interlineado */
    text-decoration: none;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    /* El padding sirve para hacer los bordes gordos */
    padding: 0.7rem 2rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo{
    background-color: #E08709;
}

.boton-verde{
    background-color: #71B100;
}

/** Header **/
.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 50rem;
    line-height: 2;
}

/** Navegacion **/
.barra {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    align-items: center;
}

.navegacion a:hover {
    color: #71B100;
}

.navegacion a {
    color: white;
    text-decoration-line: none;
    font-size: 1.8rem; /** 1.8rem == 18px **/
    margin-right: 2.0rem;
}

/** Iconos nosotros **/
.iconos-nosotros{
    display: flex;
    /* Agrega una separacion */
    justify-content: space-between;
}

.icono{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.icono h3{
    text-transform: uppercase;
}

/* Anuncios */
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
}

.anuncio{
    flex-basis: calc(33.3% - 1rem);
    border-style: solid;
    border-color: #B5B5B5;
    border-width: 1px;
    background-color: #F5F5F5;
}

.contenido-anuncio{
    padding: 1.5rem;
}

.contenido-anuncio h3, .contenido-anuncio p{
    margin: 0rem;
}

.precio{
    color: #71B100;
    font-weight: 700;
}

.iconos-caracteristicas{
    /* Quitar las viñetas y el padding para más orden */
    list-style: none;
    display: flex;
    padding: 0;   
    /* Centrar los iconos */
    justify-content: space-evenly;
}

.iconos-caracteristicas li{
    /* Alinear uno adelante del otro */
    display: flex;
}

.iconos-caracteristicas li img{
    /* Agregar separacion entre el numero y la imagen */
    margin-right: 2rem;
}

/* Contacto home */
.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-size: cover;
    background-position: center center;
    height: 40rem;
    /* Se pone display: flex; para habilitar flexbox */
    justify-content: space-between;
    padding-top: 7.5rem;
    align-items: center;
}

.contenido-contacto{
    /* Hacer que laas imagenes tomen todo el tamaño disponible */
    flex: 1;
    color:#FFFFFF;
}

.contenido-contacto p{
    font-size: 1.8rem;
}

/* Seccion inferior */
.seccion-inferior{
    display: flex;
    justify-content: space-between;
}

.seccion-inferior.blog{
    flex-basis: 60%;
}

.seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);
}

.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}

.entrada-blog .imagen{
    flex-basis: 40%;
}

.entrada-blog .texto-entrada{
    flex-basis: calc(60% -3rem);
}

.texto-entrada a{
    color: #000000;
    text-decoration: none;
}

.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after{
    content: '';
    display: block;
    width: 15rem;
    height: 0.5rem;
    background-color: #71B100;
    margin-top: 1rem;
}