/* 
* Arquitectura first mobile, primero se está trabajando con dimenciones de mobile
* Todas las MediaQueries seránd e 768px en adelante para trabjar con ordenador
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor {
    width: 95%;
    max-width: 120rem; /* 120rem == 1200px */
    margin: 0 auto;
}

h1, h2, h3 h4 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 3rem;
    line-height: 1.3;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 2.0rem;
}

p {
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

/* Utilidades */
.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}

/* Grid (EN EL DISPOSITIVO MAS PEQUEÑO GRID NO HACE NADA)*/
@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .centrar-columnas {
        justify-content: center;
    }
    .columna4 {
        flex: 0 0 calc(33.3% - 1rem);
    }
    .columna6 {
        flex: 0 0 calc(50% - 1rem);
    }
    .columna8 {
        flex: 0 0 calc(66.6% - 1rem);
    }
    .columnas10 {
        flex: 0 0 calc(83.3% - 1rem);
    }
    .columnas12 {
        flex: 0 0 100%;
    }
}

/* Botones */
.boton {
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    margin: 1rem 0rem;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    flex: 0 0 100%;
}

.boton:hover {
    cursor: pointer;
}

/* Media Queries BOTONES (Ordenador)*/
@media (min-width: 600px) {
    .boton {
        display: inline-block;
        padding: 0.8rem 2rem;
        font-size: 1.5rem;
        flex: 0 0 auto;
    }
}

.boton-primario {
    background-color: #000000;
}

.boton-secundario {
    background-color: #784D3C;
}

/* Header */
/* Media Queries HEADER (Ordenador)*/
@media (min-width:768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contenedor {
        width: auto;
    }
}

.site-header {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50rem;
}

.site-header a {
    color: #ffffff;
    text-decoration: none;
}

.site-header h1{
    text-align: center;
    font-weight: 400;
}

.site-header h1 span {
    font-weight: 700;
}

/* Navegacion */
.navegacion a {
    text-align: center;
    display: block;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-decoration: none;
} 
/* Media Queries NAVEGACION (Ordenador)*/
@media (min-width: 768px) {
    .navegacion a {
        display: inline;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
    .contenedor {
        width: 90%;
    }
}

/* Texto header */
.texto-header {
    color: #ffffff;
    text-align: center;
    margin-top: 5rem;
}
/* Media Queries TEXTO HEADER (Ordenador)*/
@media (min-width: 768px) {
    .texto-header {
        margin-top: 13rem;
    }
}

.texto-header p {
    font-size: 1.6rem;
}

/* Contenido Principal HOME*/
.contenido-principal {
    display: flex;
    flex-wrap: wrap;
}

.blog, .cursos {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
}

.cursos {
    order: -1;
}
/* Media Queries CONTENIDO PRINCIPAL (Ordenador)*/
@media (min-width: 768px) {
    .contenido-principal {
        justify-content: space-between;
    }
    .blog {
        flex-basis: 66.6%;
        order: -1;
    }
    .cursos {
        flex-basis: calc(33.3% - 4rem);
    }
}

/* Opcional */
.entrada-blog {
    margin-bottom: 2rem;
    border-bottom: 2px solid #E1E1E1;
}

.entrada-blog:last-of-type{
    border: none;
}

/* Cursos Sidebar */
.cursos-lista {
    padding: 0;
    list-style: none;
}

.curso {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #E1E1E1;
}

.curso:last-of-type {
    border-bottom: none;
}

.curso p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.curso p span {
    font-weight: 400;
}
/* Selector mucho más especifico */
.curso p.descripcion {
    font-weight: 400;
}

/* Footer */
.site-footer {
    background-color: #000000;
    padding: 3rem;
    margin-top: 4rem;
}
.site-footer p {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}
.site-footer p span {
    font-weight: 700;
}

/* Contacto */
.formulario-contacto {
    background-color: #FFFFFF;
    padding: 5rem;
}

@media (min-width: 768px) {
    .formulario-contacto {
        margin-top: -10rem;
    }
}

.formulario-contacto .campo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.formulario-contacto .campo label {
    flex: 0 0 8rem;
}

.formulario-contacto .campo input:not([type="submit"]), 
.formulario-contacto textarea {
    flex: 1;
    border: 2px solid #E1E1E1;
    padding: 1rem;
}

.formulario-contacto textarea {
    height: 20rem;
}

.formulario-contacto .enviar {
    display: flex;
    justify-content: flex-end;
}

